body {
    justify-content: flex-end;
    background-image: url("../assets/images/background.png");
    background-repeat: repeat;
    background-size: contain;
    background-position: left;
}

.logo{
    align-self: center;
    width: 20em;
}

h1 {
    all: unset;
}

main {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, transparent, black 13%) ;
    color: #f8f8f8;
    text-align: center;
    font-size: larger;
    width: 50%;
    height: 100vh;
    padding: 2rem 8% 4rem 12%;
}

.start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 40%;
    height: 5rem;
    margin-top: auto;
    border: none;
    border-radius: 8px;
    background: #3d63a8;
    font-size: 2rem;
    text-shadow: 2px 2px black;
    text-decoration: none;
    color:#f8f8f8;
}